/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.dropdown-menu{
    min-width: 250px;
}
.frontPageHeading{
    color: #000000;
    font-size: 2rem;
}
.homeSearch{
    width: 100%;
}
#latestPosts{
    padding: 30px 0px 0px 10px;
}
#latestPostsTable a{
    color: #000000;
}
.postTitle{
    font-size: 1.4rem;
    font-weight: bold;
}
.postSubTitle span{
    font-size: 0.9rem;
}
.card:hover{
    background-color: #e5e5e5;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.nav-link{
    color: white;
}
.forumLogo{
    border-radius: 3px;
    float: left;
    width: 40px;
    height: 50px;
    background-size: 100%;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
}
.authorImagePost{
    height: 60%;
    width: 80%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
}
.authorReplyImage{
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.postBg{
    background-color: rgba(128, 128, 128, 0.10);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.profileImage{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0;
}
.userImage{
    background-size: 100% 100%;
    height: 50px; width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

 /*Provide sufficient contrast against white background*/ 
a {
  color: #0366d6;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px;  /*Vertically center the text there */
}
