@model WebForum.Models.Forum.ForumIndexModel

<h1 class="pb-3">Forums</h1>
@foreach (var forum in Model.ForumList)
{
    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id" class="card col-md-2 text-decoration-none float-left text-dark">
        <div class="forumLogo mx-auto" style="background-image: url(@forum.ImageUrl)"></div>
        <div class="card-body p-0 pb-2">
            <div class="card-text text-center">
                @forum.Title
            </div>
        </div>
    </a>
}
