@model WebForum.Models.Forum.ForumIndexModel

<h1>Forums</h1>

@foreach (var forum in Model.ForumList)
{
<a class="text-decoration-none text-dark" asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
    <div class="card col-md-3 d-inline-flex p-2" title="@forum.Description">
        @*<div class="forumLogo" style="background-image: url(@forum.ImageUrl);"></div>*@
            <div class="card-body text-center">
                <span class="card-text">@forum.Title</span>
            </div>
        </div>
</a>
}