@model WebForum.Models.Forum.ForumIndexModel

<h1>Forums</h1>

<div class="row">
    <table class="table table-hover align-content-center" id="tableForumIndex" style="font-size: 1.2rem;">
        <tbody>
            @foreach (var forum in Model.ForumList)
            {
                <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@forum.ImageUrl)"></div>
                    </td>
                    <td>
                        <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                            @forum.Title
                        </a>
                    </td>
                    <td>@forum.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
